.chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat .chat__avatar {
  width: 54px;
  border-radius: 42%;
  margin-right: 15px;
}

.chat .chat__column {
  display: flex;
  align-items: center;
}

.chat .chat__username {
  font-weight: 600;
  margin-bottom: 5px;
}

.chat .chat__timestamp,
.chat__content .chat__bottom-text,
.chat__content i {
  opacity: 0.6;
}

.chat .chat__bottom-text {
  font-size: 14px;
}

.chat .chat__timestamp,
.chat__content i {
  font-size: 12px;
}
